@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1280px) {
  .container {
    padding: 0 5%;
  }
}

@media (min-width: 751px) {
  .navigation {
    padding: 20px 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #fff;
  }

  .logo {
    width: 73px;
    height: 71px;
    display: inline-block;
    margin-right: 35px;
  }
  .logo img {
    width: 100%;
  }

  .nav-wrap {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav, .login {
    display: inline-block;
  }
  .nav ul, .login ul {
    list-style: none;
  }
  .nav li, .login li {
    display: inline-block;
    margin-right: 30px;
    color: #021f59;
  }
  .nav a, .login a {
    color: #002f9d;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
  }
  .nav a:hover, .login a:hover {
    color: #38bdff;
  }

  .login {
    margin-left: auto;
  }
  .login span {
    margin-right: 10px;
  }

  .login a {
    color: #021f59;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
  }
  .login a:hover {
    text-decoration: underline;
  }
}
@media (max-width: 750px) {
  .navigation {
    padding: 20px 0;
    width: 100%;
  }

  .logo {
    width: 73px;
    height: 71px;
    display: inline-block;
    margin-right: 35px;
  }
  .logo img {
    width: 100%;
  }

  .nav, .login {
    display: inline-block;
    position: absolute;
    right: 0;
  }
  .nav ul, .login ul {
    list-style: none;
  }
  .nav li, .login li {
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
    color: #002f9d;
  }
  .nav a, .login a {
    color: #002f9d;
    text-decoration: none;
    font-size: 23px;
    cursor: pointer;
  }
  .nav a:hover, .login a:hover {
    color: #021f59;
  }

  #alt-a {
    display: none;
  }

  .country-flag span {
    margin-right: 10px;
  }

  .nav {
    top: 39px;
  }
  .nav li {
    font-weight: bold;
  }
}
@media (max-width: 499px) {
  .navigation {
    padding: 20px 0 40px;
  }

  .logo {
    width: 55px;
  }

  .nav {
    top: 70px;
  }
  .nav a {
    font-size: 17px;
  }

  .login a {
    font-size: 16px;
  }
}
.hero {
  width: 100%;
  height: 550px;
  display: inline-block;
  overflow-x: hidden;
  position: relative;
  top: 110px;
  margin-bottom: 110px;
}
.hero .slide {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 640px) {
  .hero {
    height: 378px;
    top: 0px;
    margin-bottom: 0px;
  }
}

.cta {
  position: absolute;
  width: 400px;
  top: 168px;
  left: 108px;
}
.cta h1 {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  line-height: 0.9;
}
@media (max-width: 640px) {
  .cta h1 {
    font-size: 35px;
  }
}
.cta span {
  display: block;
  color: #fff;
  font-size: 24px;
}
@media (max-width: 640px) {
  .cta span {
    font-size: 17px;
    margin-top: 10px;
  }
}
@media (max-width: 1280px) {
  .cta {
    left: 5%;
  }
}
@media (max-width: 640px) {
  .cta {
    top: 65px;
    left: 5%;
    width: 320px;
  }
}

.btn-cta {
  width: 180px;
  height: 60px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: none;
  background: #002f9d;
  margin-top: 20px;
  cursor: pointer;
}
.btn-cta:focus {
  outline: none;
}
.btn-cta:hover {
  border: 15px solid #38bdff;
  background: #38bdff;
  transition: border 300ms ease-in-out, background 400ms ease-in-out, color 450ms ease-in-out, box-shadow 1s;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  color: #021f59;
}
.btn-cta:active {
  position: relative;
  top: 1px;
  left: 1px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  transform: scale(0.9);
  transform: skew(-6deg);
  transition: box-shadow 100ms ease-in-out;
}

.slider-nav-buttons {
  position: absolute;
  top: 241px;
  right: 0;
}
@media (max-width: 1280px) {
  .slider-nav-buttons {
    right: 5%;
  }
}
@media (max-width: 640px) {
  .slider-nav-buttons {
    top: 307px;
  }
}

.btn {
  width: 50px;
  height: 50px;
  background: none;
  border: 1px solid rgba(117, 117, 117, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
.btn:hover {
  border: 3px solid rgba(56, 189, 255, 0.8);
}
.btn:active {
  border: 3px solid #757575;
}
.btn:focus {
  outline: 0;
}

.left {
  margin-right: 14px;
}

.selling {
  padding: 50px 0;
}
.selling h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #002f9d;
  padding: 0 5%;
}
.selling h2 span {
  display: block;
  font-size: 16px;
  font-weight: 100;
  color: #757575;
}
@media (max-width: 640px) {
  .selling h2 {
    font-size: 40px;
  }
}

.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1180px;
  margin: 60px auto 0;
}

.user-offers {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 40px;
}
@media (max-width: 1280px) {
  .user-offers {
    max-width: 464px;
  }
}
@media (max-width: 1031px) {
  .user-offers {
    max-width: 345px;
  }
}
@media (max-width: 640px) {
  .user-offers {
    width: 100%;
  }
}

.user-img {
  width: 376px;
  height: 110px;
  margin: 15px 20px 0 0;
  border: 3px solid rgba(117, 117, 117, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1280px) {
  .user-img {
    width: 371px;
    height: 110px;
  }
}
@media (max-width: 1031px) {
  .user-img {
    width: 458px;
    height: 95px;
  }
}
@media (max-width: 640px) {
  .user-img {
    width: 301px;
    height: 70px;
  }
}
@media (max-width: 356px) {
  .user-img {
    width: 384px;
    height: 70px;
  }
}

.user-offer {
  margin-top: 10px;
}
.user-offer h3 {
  font-size: 24px;
  color: #021f59;
  font-weight: normal;
}
@media (max-width: 1280px) {
  .user-offer h3 {
    font-size: 20px;
  }
}
.user-offer p {
  color: #021f59;
  font-size: 18px;
  margin-top: 10px;
}
@media (max-width: 1280px) {
  .user-offer p {
    font-size: 16px;
  }
}

.offers {
  background-color: #002f9d;
  padding: 24px 0 39px 0;
}
.offers h6 {
  font-size: 20px;
  color: #fff;
  font-weight: normal;
}

.wrap {
  width: 1043px;
  margin: 25px auto;
}
@media (max-width: 1160px) {
  .wrap {
    width: 100%;
  }
}
@media (max-width: 740px) {
  .wrap {
    width: 100%;
  }
}

.offers-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: space-around;
}
@media (max-width: 1100px) {
  .offers-wrapper {
    justify-content: center;
  }
}

.card-offers {
  display: inline-block;
  background: #fff;
  width: 240px;
  padding-bottom: 21px;
}
.card-offers span {
  display: block;
  margin-left: 30px;
}
.card-offers a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #002f9d;
  margin: 11px 0 0 30px;
  display: inline-block;
  cursor: pointer;
}
.card-offers a:hover {
  text-decoration: underline;
}
.card-offers a.currency {
  margin: 0;
}
.card-offers img {
  transition: transform 0.2s;
  cursor: pointer;
}
.card-offers img:hover {
  transform: scale(1.5);
}
@media (max-width: 640px) {
  .card-offers img:hover {
    transform: none;
  }
}
@media (max-width: 1100px) {
  .card-offers {
    width: 340px;
  }
}
@media (max-width: 1100px) {
  .card-offers:nth-child(even) {
    margin: 0 0px 20px 5px;
  }
}
@media (max-width: 1100px) {
  .card-offers:nth-child(odd) {
    margin: 0 5px 20px 0px;
  }
}
@media (max-width: 767px) {
  .card-offers:nth-child(even) {
    margin: 0 0px 40px 0px;
  }
}
@media (max-width: 767px) {
  .card-offers:nth-child(odd) {
    margin: 0 0px 40px 0px;
  }
}
@media (max-width: 767px) {
  .card-offers {
    margin: 20px auto;
    width: 100%;
  }
}

.card-offers img {
  width: 100%;
}

.city-offer {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: #021f59;
}

.price-offer {
  font-size: 20px;
  font-weight: normal;
  color: #021f59;
}

span.book-now-arrow {
  display: inline-block;
  margin: 0;
}

.london {
  position: relative;
}

.offer-label {
  position: absolute;
  background: #ffed28;
  width: 200px;
  height: 30px;
  padding-left: 15px;
  line-height: 30px;
  color: #002f9d;
  font-weight: bold;
  font-size: 20px;
  top: 20px;
  left: -10px;
}

.inspiration {
  padding: 40px 10px;
}
.inspiration h3 {
  font-size: 32px;
  color: #002f9d;
  text-align: center;
  font-weight: normal;
}
.inspiration h3 a {
  font-weight: bold;
  border-bottom: 3px dashed #002f9d;
  text-decoration: none;
  color: #002f9d;
}
@media (max-width: 662px) {
  .inspiration h3 {
    font-size: 24px;
  }
}

.idbook img {
  width: 10px;
  position: relative;
  left: 10px;
}

.classes {
  background: #021f59;
  text-align: center;
  padding: 75px 0 88px;
}
.classes h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #38bdff;
}
.classes h2 span {
  font-size: 16px;
  font-weight: normal;
  display: block;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .classes h2 span {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .classes h2 {
    font-size: 32px;
  }
}
.classes p {
  display: inline-block;
  width: 630px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
@media (max-width: 800px) {
  .classes p {
    font-size: 16px;
    width: 100%;
  }
}

.services {
  max-width: 1020px;
  height: 360px;
  background: #fff;
  margin: 108px auto 0;
  position: relative;
  display: none;
}
@media (max-width: 640px) {
  .services {
    width: 100%;
    height: 690px;
    display: block;
  }
}

.active-service {
  display: block;
}

.service-cta {
  position: absolute;
  right: 0;
  top: -50px;
  color: #38bdff;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 3px dashed #38bdff;
}
@media (max-width: 800px) {
  .service-cta {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .service-cta {
    width: 212px;
    right: 50%;
    transform: translateX(50%);
  }
}

.services-menu {
  background: rgba(117, 117, 117, 0.1);
  display: flex;
  justify-content: space-around;
}
@media (max-width: 640px) {
  .services-menu {
    display: none;
  }
}

.service-type {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #757575;
  font-weight: 100;
  border-top: 6px solid transparent;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
.service-type:hover {
  border-top: 6px solid #38bdff;
  background-color: #fff;
  color: #002f9d;
  font-weight: bold;
}

.service-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 290px;
}
@media (max-width: 1280px) {
  .service-info img {
    width: 180px;
  }
}
@media (max-width: 640px) {
  .service-info img {
    margin-bottom: 20px;
  }
}
@media (max-width: 640px) {
  .service-info {
    flex-direction: column;
    border-top: 10px solid #002f9d;
    height: 100%;
    justify-content: center;
    display: flex;
  }
}

.alt-service-title {
  display: none;
}
@media (max-width: 640px) {
  .alt-service-title {
    display: block;
    color: #002f9d;
    font-size: 25px;
    font-weight: bold;
  }
}

.service-list {
  text-align: left;
}
.service-list li {
  margin-bottom: 20px;
  font-size: 20px;
}
@media (max-width: 1280px) {
  .service-list li {
    font-size: 14px;
  }
}
.service-list a {
  text-decoration: none;
}
.service-list a:hover {
  text-decoration: underline;
  opacity: 1;
}
@media (max-width: 640px) {
  .service-list {
    text-align: left;
    margin: 20px;
  }
}

.offer {
  list-style-type: none;
}
.offer a {
  color: #002f9d;
}
.offer img {
  width: auto;
  margin-bottom: 0;
}

.extra {
  list-style-type: none;
}
.extra a {
  color: #757575;
  opacity: 0.3;
}
.extra img {
  width: auto;
  margin-bottom: 0;
}

@media (min-width: 1300px) {
  .top {
    background: #002f9d;
    padding: 35px 0;
  }

  .top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .newsletter {
    position: relative;
  }

  form {
    color: #fff;
    font-size: 24px;
  }
  form input {
    width: 400px;
    height: 43px;
    color: #fff;
    font-size: 18px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    margin-left: 100px;
    padding: 9px 3px 0px;
  }
  form input::placeholder {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.3);
  }

  input:focus {
    outline: none;
    background: none;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
  }

  .form-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    right: 0;
    top: 12px;
    cursor: pointer;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .social-links span {
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(117, 117, 117, 0.5);
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }
  .social:hover {
    border: 3px solid white;
    transition: all 200ms ease-in-out;
  }
}
@media (max-width: 1299px) {
  .top {
    background: #002f9d;
    padding: 80px 0 165px;
  }

  .top-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newsletter {
    position: relative;
  }
}
@media (max-width: 1299px) and (max-width: 640px) {
  .newsletter {
    width: 100%;
  }
}
@media (max-width: 1299px) {
  form {
    color: #fff;
    font-size: 24px;
    text-align: center;
    width: 570px;
  }
  form input {
    width: 100%;
    height: 43px;
    display: block;
    color: #fff;
    font-size: 18px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 9px 3px 0px;
  }
  form input::placeholder {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.3);
  }
}
@media (max-width: 1299px) and (max-width: 640px) {
  form input {
    width: 100%;
  }
}
@media (max-width: 1299px) and (max-width: 640px) {
  form {
    width: 100%;
  }
}
@media (max-width: 1299px) {
  input:focus {
    outline: none;
    background: none;
  }
}
@media (max-width: 1299px) {
  input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
  }
}
@media (max-width: 1299px) {
  .form-btn {
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    color: #002f9d;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 50%;
    top: 92px;
    transform: translateX(50%);
    cursor: pointer;
  }
}
@media (max-width: 1299px) {
  .social-links {
    margin: 0 auto;
    position: absolute;
    top: 293px;
  }
  .social-links span {
    color: #002f9d;
    font-size: 24px;
    text-align: center;
    display: block;
    margin-bottom: 30px;
  }
}
@media (max-width: 1299px) {
  .social {
    background-color: #002f9d;
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(117, 117, 117, 0.3);
    border-radius: 50%;
    margin-right: 10px;
    line-height: 71px;
    text-align: center;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }
  .social:hover {
    border: 3px solid #757575;
    transition: all 200ms ease-in-out;
  }
}
.bottom {
  background: #fff;
  padding: 37px 0px;
  border-bottom: 9px solid #38bdff;
}
@media (max-width: 1299px) {
  .bottom {
    padding: 158px 0px 40px;
  }
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1299px) {
  .bottom-wrapper {
    flex-direction: column;
    margin-top: 20px;
  }
}

.debt-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1299px) {
  .debt-cards {
    margin: 30px;
  }
}

.debt-card {
  display: inline-block;
  margin-right: 20px;
}

.terms ul {
  list-style-type: none;
}
.terms li {
  display: inline-block;
  margin-right: 10px;
}
.terms li a {
  text-decoration: none;
  color: grey;
}

.terms a:hover {
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto 15% auto;
  border: 1px solid #757575;
}
@media (min-width: 320px) {
  .modal-content {
    widht: 90%;
  }
}
@media (min-width: 600px) {
  .modal-content {
    width: 80%;
  }
}
@media (min-width: 960px) {
  .modal-content {
    width: 30%;
  }
}
.modal-content .modal-c {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  margin: 0;
  cursor: pointer;
}
.close span {
  width: 35px;
  height: 2px;
  background: #38bdff;
  display: block;
  transform: rotate(45deg);
}
.close span:nth-child(2) {
  transform: rotate(-45deg);
  position: relative;
  top: -2px;
}

.container-modal {
  padding: 16px;
}
.container-modal label {
  color: #757575;
}
.container-modal input[type=text], .container-modal input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #38bdff;
}
.container-modal::placeholder {
  color: red;
}
.container-modal button {
  background-color: #021f59;
  color: white;
  padding: 15px 30px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}
.container-modal button:hover {
  opacity: 0.8;
}

.modalb {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}
.modalb h4 {
  color: #002f9d;
}
.modalb .modal-content {
  width: 60%;
}
@media (min-width: 320px) {
  .modalb .modal-content {
    width: 90%;
  }
}
@media (min-width: 720px) {
  .modalb .modal-content {
    width: 60%;
  }
}
.modalb .modal-content fieldset {
  border: none;
}
.modalb .modal-content legend {
  color: #38bdff;
}
.modalb .modal-content label {
  font-size: 14px;
}
.modalb .modal-content input {
  width: 49%;
}
@media (min-width: 320px) {
  .modalb .modal-content input {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
