.classes {
  background: $theme-dark-blue;
  text-align: center;
  padding: 75px 0 88px;
  h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: $light-blue;
    span {
      font-size: 16px;
      font-weight: normal;
      display: block;
      color: $white;
      text-transform: uppercase;
      @include mq(800px) {
        font-size: 14px;
      }
    }
    @include mq(800px) {
      font-size: 32px;
    }
  }
  p {
    display: inline-block;
    width: 630px;
    text-align: center;
    color: $white;
    margin-top: 10px;
    @include mq(800px) {
      font-size: 16px;
      width: 100%;
    }
  }
}

.services {
  max-width: 1020px;
  height: 360px;
  background: $white;
  margin: 108px auto 0;
  position: relative;
  display: none;
  @include mq(640px) {
    width: 100%;
    height: 690px; 
    display: block;  
  }
}

.active-service {
  display: block;
}

.service-cta {
  position: absolute;
  right: 0;
  top: -50px;
  color: $light-blue;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 3px dashed $light-blue;
  @include mq(800px) {
    font-size: 16px;
  }
  @include mq(640px) {
    width: 212px;
    right: 50%;
    transform: translateX(50%);
  }
}

.services-menu {
  background: rgba($grey, 0.1);
  display: flex;
  justify-content: space-around;
  @include mq(640px) {
    display: none;
  }
}

.service-type {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: $grey;
  font-weight: 100;
  border-top: 6px solid transparent;
  transition: all 100ms ease-in-out;
  cursor: pointer;
  &:hover {
    border-top: 6px solid #38bdff; 
    background-color: $white;
    color: $theme-blue;
    font-weight: bold;
  }
}

.service-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 290px;
  img {
    @include mq(1280px) {
      width: 180px;
    }
    @include mq(640px) {
      margin-bottom: 20px;
    }
  }
  @include mq(640px) {
    flex-direction: column;
    border-top: 10px solid $theme-blue;
    height: 100%;
    justify-content: center;
    display: flex;
  }
}

.alt-service-title {
  display: none;
  @include mq(640px) {
    display: block;
    color: $theme-blue;
    font-size: 25px;
    font-weight: bold;
  }
}

.service-list {
  text-align: left;
  li {
    margin-bottom: 20px;
    font-size: 20px;
    @include mq (1280px) {
      font-size: 14px;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
  }
  @include mq(640px) {
    text-align: left;
    margin: 20px;
  }
}

.offer {
  list-style-type: none;
  a {
    color: $theme-blue;
  }
  img {
    width: auto;
    margin-bottom: 0;
  }
}

.extra {
  list-style-type: none;
  a {
    color: $grey;
    opacity: 0.3;
  }
  img {
    width: auto;
    margin-bottom: 0;
  }
}