@include mq-L(1300px) {
  .top {
    background: $theme-blue;
    padding: 35px 0;
  }
    
  .top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  .newsletter {
    position: relative;
  }
    
  form {
    color: $white;
    font-size: 24px;
    input {
      width: 400px;
      height: 43px;
      color: $white;
      font-size: 18px;
      background: none;
      border: none;
      border-bottom: 1px solid $white;
      margin-left: 100px;
      padding: 9px 3px 0px;
      &::placeholder {
        font-size: 18px;
        color: rgba($white, 0.3);
      }
    }
  }
    
  input:focus {
    outline: none;
    background: none;
  }
    
  input:-webkit-autofill {
    -webkit-text-fill-color: $white !important;
  }
    
  .form-btn {
    background: none;
    border: none;
    color: $white;
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    right: 0;
    top: 12px;
    cursor: pointer;
  }
    
  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    span {
      color: $white;
      font-size: 24px;
      margin-right: 20px;
    }
  }
   
  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid rgba($grey, 0.5);
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    &:hover {
      border: 3px solid rgba($white, 1);
      transition: all 200ms ease-in-out; 
    }
  }
}

@include mq(1299px) {
  .top {
    background: $theme-blue;
    padding: 80px 0 165px;
  }
    
  .top-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .newsletter {
    position: relative;
    @include mq(640px) {
      width: 100%;
    }
  }
    
  form {
    color: $white;
    font-size: 24px;
    text-align: center;
    width: 570px;
    input {
      width: 100%;
      height: 43px;
      display: block;
      color: $white;
      font-size: 18px;
      background: none;
      border: none;
      border-bottom: 1px solid $white;
      padding: 9px 3px 0px;
      &::placeholder {
        font-size: 18px;
        color: rgba($white, 0.3);
      }
      @include mq(640px) {
        width: 100%;
      }
    }
    @include mq(640px) {
      width: 100%;
    }
  }
    
  input:focus {
    outline: none;
    background: none;
  }
  
  input:-webkit-autofill {  
    -webkit-text-fill-color: $white !important;
  }
    
  .form-btn {
    width: 100%;
    height: 50px;
    background: $white;
    border: none;
    color: $theme-blue;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 50%;
    top: 92px;
    transform: translateX(50%);
    cursor: pointer;
  }
    
  .social-links {
    margin: 0 auto;
    position: absolute;
    top: 293px;
    span {
      color: $theme-blue;
      font-size: 24px;
      text-align: center;
      display: block;
      margin-bottom: 30px;
    }
  }
    
  .social {
    background-color: $theme-blue;
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid rgba($grey, 0.3);
    border-radius: 50%;
    margin-right: 10px;
    line-height: 71px;
    text-align: center;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    &:hover {
      border: 3px solid rgba($grey, 1);
      transition: all 200ms ease-in-out; 
    }
  }
}

.bottom {
  background: $white;
  padding: 37px 0px;
  border-bottom: 9px solid $light-blue;
  @include mq(1299px) {
    padding: 158px 0px 40px;
  }
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(1299px) {
    flex-direction: column;
    margin-top: 20px;
  }
}

.debt-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(1299px) {
    margin: 30px;
  }
}

.debt-card {
  display: inline-block;
  margin-right: 20px;
}

.terms {
  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
    margin-right: 10px;
    a {
      text-decoration: none;
      color: grey;
    }
  }
}

.terms a:hover {
  text-decoration: underline;
}