@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800');

$white: #fff;
$black: #000;
$grey: #757575;
$theme-blue: #002f9d;
$theme-dark-blue: #021f59;
$light-blue: #31a8e9;